In [18]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

s = pd.Series([1,2,3,4,np.nan,7,8])

dates = pd.date_range('20181127', periods=6)

df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))

df.sort_index(axis=0, ascending=False)

                   A         B         C         D
2018-12-02  1.162447 -0.532449  0.545918  0.379942
2018-12-01 -0.175550 -1.082291 -0.538473 -0.169999
2018-11-30  0.398996  0.395324  0.369794  1.330243
2018-11-29 -2.296497 -0.294127 -2.583249 -0.327147
2018-11-28 -1.691140 -0.053890  0.734314  0.458120
2018-11-27  1.447663 -0.814714 -0.107561  1.541683